{{- $downloadUrl := .downloadUrl -}}
{{- $version := .version -}}
{{- $assets := .assets -}}
{{- $s := newScratch -}}

{{- range $assets -}}
  {{- $name := lower .name -}}
  {{- $isMain := and (hasPrefix $name "spire-") (not (hasPrefix $name "spire-extras-")) -}}
  {{- if $isMain -}}
    {{- $isChecksum := and (in $name "sha256") (in $name ".txt") -}}
    {{- $url := printf "%s/%s/%s" $downloadUrl $version .name -}}
    {{- if in $name "linux-amd64" -}}
      {{- if $isChecksum -}}
        {{- $s.Set "linuxAmd64Checksum" $url -}}
      {{- else -}}
        {{- $s.Set "linuxAmd64" $url -}}
      {{- end -}}
    {{- else if in $name "linux-arm64" -}}
      {{- if $isChecksum -}}
        {{- $s.Set "linuxArm64Checksum" $url -}}
      {{- else -}}
        {{- $s.Set "linuxArm64" $url -}}
      {{- end -}}
    {{- else if in $name "windows-amd64" -}}
      {{- if $isChecksum -}}
        {{- $s.Set "windowsAmd64Checksum" $url -}}
      {{- else -}}
        {{- $s.Set "windowsAmd64" $url -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return dict
  "linuxAmd64" (default "" ($s.Get "linuxAmd64"))
  "linuxAmd64Checksum" (default "" ($s.Get "linuxAmd64Checksum"))
  "linuxArm64" (default "" ($s.Get "linuxArm64"))
  "linuxArm64Checksum" (default "" ($s.Get "linuxArm64Checksum"))
  "windowsAmd64" (default "" ($s.Get "windowsAmd64"))
  "windowsAmd64Checksum" (default "" ($s.Get "windowsAmd64Checksum"))
-}}
