# macOS
.DS_Store

# IDEs
.vscode
.idea

# Hugo-generated assets
public/
resources/

# Node.js assets
node_modules/

# Python virtual environment
.venv/
venv/
.env
*.pyc
__pycache__/

# Temporal content
checkouts/
static/img/checkouts/
data/releases.yaml
