[build]
publish = "public"
command = "pip install -r requirements.txt && make production-build"

[build.environment]
HUGO_VERSION = "0.68.3"
NODE_VERSION = "18"

[context.deploy-preview]
command = "pip install -r requirements.txt && make preview-build"

[context.branch-deploy]
command = "pip install -r requirements.txt && make preview-build"