[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
watchdog = "*"
argh = "*"

[packages]
pyyaml = "~=5.3"
toml = "~=0.10.1"
requests = "~=2.32.2"
linkchecker = "~=10.0.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
