[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
watchdog = "*"
argh = "*"

[packages]
pyyaml = "~=6.0"
toml = "~=0.10.1"
requests = "~=2.32.2"
linkchecker = "~=10.5.0"
urllib3 = ">=2.5.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
