[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
watchdog = "*"
argh = "*"

[packages]
pyyaml = "~=5.4"
toml = "~=0.10.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
