{{- $users     := .Site.Data.users }}
{{- $consumers   := $users.consumers }}

{{- range $consumers }}
    {{- $imgUrl := printf "img/logos/%s" .logo | relURL }}
    <article class="media">
        <figure class="media-left is-hidden-mobile">
            <p class="image is-64x64">
            <a href="{{ .link }}">
                <img src="{{ $imgUrl }}">
            </a>
            </p>
        </figure>
        <div class="media-content">
            <h2>
                <a class="has-text-dark" href="{{ .link }}">{{ .name }}</a>
            </h2>
    
            {{ .description | markdownify }}
            <a href="{{ .link }}">Read more</a>
    
            <div class="is-user-mobile-logo is-hidden-tablet">
                <a href="{{ .link }}">
                    <img src="{{ $imgUrl }}">
                </a>
            </div>
        </div>
    </article>
{{- end }}