{{- $pageType := cond .IsHome "home" .Section }}
{{- $favicon  := "favicon.ico" | relURL }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }} &ndash; {{ .Site.Params.acronym }}{{ end }}</title>
    <link rel="shortcut icon" href="{{ $favicon }}" type="image/x-icon">
    {{ partial "css.html" . }}
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
    <!-- Hotjar Tracking Code for spiffe.io -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1580598,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body class="is-page is-{{ $pageType }}-page has-navbar-fixed-top">
    {{ partial "navbar.html" . }}

    <main class="is-main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
