{{- $pageType   := cond .IsHome "home" .Section }}
{{- $isDocsPage := eq .Section "docs" }}
{{- $favicon    := "favicon.ico" | relURL }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }} &ndash; {{ .Site.Params.acronym }}{{ end }}</title>
    <link rel="shortcut icon" href="{{ $favicon }}" type="image/x-icon">
    {{ partial "css.html" . }}
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
  </head>
  <body class="is-page is-{{ $pageType }}-page has-navbar-fixed-top">
    {{ partial "navbar.html" . }}

    <main class="is-main">
      {{ block "main" . }}{{ end }}
    </main>

    {{- if not $isDocsPage -}}
      {{ partial "footer.html" . }}
    {{- end -}}
    {{ partial "javascript.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
    <script>
      ga('send', 'pageview', {
        'Branch':  '{{ getenv "BRANCH" }}'
      });
    </script>
    <script>
      var captureOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {
          'transport': 'beacon',
          'hitCallback': function(){ document.location = url; }
        });
      }
    </script> 
  </body>
</html>
