{{ define "main" }}
{{ partial "tabs.html" . }}

<section class="hero is-light">
  <div class="container">
    <div class="hero-body">
      <p
        class="title is-size-2 is-size-2-mobile has-text-weight-light{{ if isset .Params "description" }} is-spaced{{ end }}">
        {{ .Title }}
      </p>
      {{- with .Params.description }}
      <p class="subtitle is-size-5 is-size-5-mobile">
        {{ . | markdownify }}
      </p>
      {{- end }}
    </div>
  </div>
</section>

<article class="article">
  <div class="container">
    <div class="columns">
      <div class="column is-full-mobile">
        <div class="content is-centered">
          <section class="is-inner-content">
            {{ .Content }}
          </section>
        </div>
      </div>
    </div>
  </div>

</article>

{{ end }}