<article class="article">
  <div class="container">
    <div class="columns">
      {{ partial "section-menu.html" . }}
      <div class="column is-three-fifths is-full-mobile">
        <div class="content">
          <div class="is-hidden-desktop">
            {{ partial "dropdown.html" . }}
          </div>
    
          <section class="is-inner-content">
            {{ .Content }}
          </section>
        </div>
      </div>
      {{- if .Params.toc }}
      <div class="column is-one-fifth is-toc-column is-hidden-touch">
        
        <aside class="is-toc-container">
          <div id="toc">
            {{ .TableOfContents }}
          </div>
        </aside>
       
      </div>
      {{- end }}
      
    </div>
  </div> <!-- .container -->
</article>