{{- $inServerMode := .Site.IsServer }}
{{- $integCheck   := .Site.Params.assetintegritychecking }}
{{- $sass         := "sass/style.sass" }}
{{- $cssOutput    := "css/style.css" }}
{{- $includes     := (slice "node_modules") }}
{{- $cssDevOpts   := (dict "includePaths" $includes "targetPath" $cssOutput "enableSourceMap" true) }}
{{- $cssProdOpts  := (dict "includePaths" $includes "targetPath" $cssOutput "outputStyle" "compressed") }}
{{- $cssOpts      := cond $inServerMode $cssDevOpts $cssProdOpts }}
{{- $css          := resources.Get $sass | resources.ExecuteAsTemplate $sass . | toCSS $cssOpts }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.7.0/tocbot.css">
{{- if $inServerMode }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $prodCss := $css | fingerprint }}
<link rel="stylesheet" href="{{ $prodCss.RelPermalink }}"{{ if $integCheck }} integrity="{{ $prodCss.Data.Integrity }}"{{ end }}>
{{- end }}
