{{- $year               := now.Year }}
{{- $spiffeDocs         := where .Site.Pages "Section" "spiffe" }}
{{- $spireDocs          := where .Site.Pages "Section" "spire" }}
{{- $social             := .Site.Params.socialmedia }}
{{- $twitterUrl         := printf "https://twitter.com/%s" $social.twitter }}
{{- $slackUrl           := $social.slack }}
{{- $stackUrl           := $social.stackoverflow }}
{{- $githubUrl          := $social.github }}
{{- $blogUrl            := $social.medium }}
{{- $youtubeUrl         := $social.youtube }}
{{- $sourceGithubURL    := .Site.Params.githuburl }}     

<footer class="footer has-background-dark">
  <div class="container is-flex is-space-between is-columns-stacked-mobile">
    <div class="column">
      <a href="{{ .Site.BaseURL }}">
        <img class="is-footer-logo" src="/img/logos/spiffe/horizontal/white/spiffe-horizontal-white.png">
      </a>
    </div>
    <div class="has-text-centered py-2 order-sm-2 column">
      <a href="https://www.linuxfoundation.org/terms" target="_blank" rel="noopener">Terms</a> |
      <a href="https://www.linuxfoundation.org/privacy" target="_blank" rel="noopener">Privacy</a> |
      <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank" rel="noopener">Trademarks</a> |
      <a href="{{ $sourceGithubURL }}/LICENSE" target="_blank" rel="noopener">License</a>
    </div>

    {{- if (or (eq .Kind "page") (eq .Kind "section")) }}
    <div class="column has-text-centered github-link">
      Last modified on {{ .Lastmod }}
      &bullet;
      <a href="{{ $sourceGithubURL }}/content/{{ .File.Path}}">
        Edit this page on GitHub
      </a>
      <br />
    </div>
    {{- end }}

    <div class="column has-text-grey-lighter copyright">
        &copy; {{ $year }} The SPIFFE authors
    </div>
  </div>
</footer>
