{{- $isHome          := .IsHome }}
{{- $isSpirePage     := eq .Section "spire" }}
{{- $isDownloadsPage := eq .Section "downloads" }}
{{- $isDocsPage      := eq .Section "docs" }}
{{- $spiffeLogo      := "/img/logos/spiffe/horizontal/color/spiffe-horizontal-color.png" | relURL }}
{{- $spireLogo       := "/img/logos/spire/horizontal/color/spire-horizontal-color.png" | relURL }}
{{- $logoUrl         := cond $isSpirePage $spireLogo $spiffeLogo }}
{{- $social          := .Site.Params.socialmedia }}
{{- $twitterUrl      := printf "https://twitter.com/%s" $social.twitter }}
{{- $slackUrl        := $social.slack }}
{{- $blogUrl         := $social.medium }}
{{- $githubUrl       := $social.github }}
{{- $stackUrl        := $social.stackoverflow }}
{{- $youtubeUrl      := $social.youtube }}
{{- $version         := index (split .File.Path "/") 1 -}}
{{- $pageUrl         := .URL -}}

{{ $spiffeAbout        := where site.Pages ".Params.kind" "eq" "spiffe-about" }}

{{ $spireAbout         := where site.Pages ".Params.kind" "eq" "spire-about" }}

{{ $spireHelmChartsHardenedAbout        := where site.Pages ".Params.kind" "eq" "spire-helm-charts-hardened-about" }}
{{ $spireHelmChartsHardenedAdvanced := where site.Pages ".Params.kind" "eq" "spire-helm-charts-hardened-advanced" }}

{{ $spirePlanning      := where site.Pages ".Params.kind" "eq" "planning" }}
{{ $spireTry           := where site.Pages ".Params.kind" "eq" "try" }}  
{{ $spireDeploying     := where site.Pages ".Params.kind" "eq" "deploying" }}
{{ $spireMaintenance   := where site.Pages ".Params.kind" "eq" "maintenance" }}

{{ $spireArchitecture  := where site.Pages ".Params.kind" "eq" "architecture" }}
{{ $spireMicroservices := where site.Pages ".Params.kind" "eq" "microservices" }}
{{ $spireKeyless       := where site.Pages ".Params.kind" "eq" "keyless" }}

<nav class="navbar is-fixed-top is-light">
  <div class="container {{ if $isDocsPage }}is-fluid{{ end }} ">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ $logoUrl }}">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target=".navbar-top">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu navbar-top">

      <div class="navbar-end">

        {{- if not $isDocsPage -}}
        <a class="navbar-item has-text-weight-bold" href="/downloads/">
          Get SPIRE
        </a>

        <a class="navbar-item has-text-weight-bold" href="/docs/latest/">
          Documentation
        </a>
        {{- end -}}

        <div class="navbar-item">
          <p class="control">
            <a class="button is-black" href="{{ $blogUrl }}">
              <span class="icon">
                <i class="fab fa-medium"></i>
              </span>
              <span>
                Blog
              </span>
            </a>

            <a class="button is-twitter-blue" href="{{ $twitterUrl }}">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
            </a>

            <a class="button is-black" href="{{ $githubUrl }}">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            </a>

            <a class="button is-slack-green" href="{{ $slackUrl }}">
              <span class="icon">
                <i class="fab fa-slack"></i>
              </span>
            </a>

            <a class="button is-stack-overflow-orange" href="{{ $stackUrl }}">
              <span class="icon">
                <i class="fab fa-stack-overflow"></i>
              </span>
            </a>

            <a class="button is-youtube-red" href="{{ $youtubeUrl }}">
              <span class="icon">
                <i class="fab fa-youtube"></i>
              </span>
            </a>
          </p>
        </div>
      </div>

      {{- if $isDocsPage -}}
        <div class="navbar-end is-hidden-tablet">
          <span class="navbar-item is-size-3 has-text-weight-light is-uppercase">
            SPIFFE
          </span>
    
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "section" $spiffeAbout "pageUrl" $pageUrl "version" $version ) }}
    
          <span class="navbar-item is-size-3 has-text-weight-light is-uppercase">
            SPIRE
          </span>
          
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "About" "section" $spireAbout "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "Try"  "section" $spireTry "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "Plan" "section" $spirePlanning "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "Deploy" "section" $spireDeploying "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "Maintain" "section" $spireMaintenance "pageUrl" $pageUrl "version" $version ) }}

	  <span class="navbar-item is-size-3 has-text-weight-light is-uppercase">
            Helm Chart Hardened
          </span>

          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "About" "section" $spireHelmChartsHardenedAbout "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "About" "section" $spireHelmChartsHardenedAdvanced "pageUrl" $pageUrl "version" $version ) }}
          
          <span class="navbar-item is-size-3 has-text-weight-light is-uppercase">
            Integrate SPIRE
          </span>
          
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "Securing Microservices" "section" $spireMicroservices "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "Keyless Authentication" "section" $spireKeyless "pageUrl" $pageUrl "version" $version ) }}
          {{ partial "docs/navbar-section.html" ( dict "ctx" . "sectionTitle" "SPIRE Architecture" "section" $spireArchitecture "pageUrl" $pageUrl "version" $version ) }}

        </div>
      {{- end -}}

    </div>
    
  </div>
</nav>
