<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
       <div class="logo"></div>
       <div class="links">
            <p>Documentation</p>
            <p>Learn</p>
            <p>Download</p>
            <p>Community</p>
            <p>Resources</p>
       </div>
       <div class="social"></div>
    </nav>
    <main class="hero-section">
        <div class="text-container">
            <h4>Universal identity control plane for distributed systems</h4>
            <p>Spiffe and SPIRE provide strongly attested, cryptographic identities to workloads across a wide variety of platforms</p>
            <div class="flex">
                <button>Get started</button>
                <button>Download</button>
            </div>
        </div>
        <div class="img-container-lg">
            <img src="" alt="">
        </div>
    </main>
    <section>
        <h2>Used By</h2>
        <div class="flex">
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <section>
        <h2>Overview</h2>
        <p>Spiffe and Spire provide a uniform identity control plane across modern and heterogeneous infrastructure. Since software and application architectures have grown substantially, they are spread across virtual machines in public clouds and private data centers. Security models for the organizations that manage them must keep up with these infrastructure technologies. And this is where SPIFFE and SPIRE come in. With SPIFFE/SPIRE, developers and operators can build software using new infrastructure technologies, while allowing security teams to step back from time-consuming security processes.</p>
    </section>
    <section>
        <h2>Key Use cases</h2>
        <div class="flex">
            <div class="item">
                <div class="img-container-sm">
                    <img src="" alt="">
                </div>
                <div>
                    Secure service to service communication with cryptographic identities
                </div>
            </div>
            <div class="item">
                <div class="img-container-sm">
                    <img src="" alt="">
                </div>
                <div>
                    Secure service to service communication with cryptographic identities
                </div>
            </div>
            <div class="item">
                <div class="img-container-sm">
                    <img src="" alt="">
                </div>
                <div>
                    Secure service to service communication with cryptographic identities
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="item">
                <div class="img-container-sm">
                    <img src="" alt="">
                </div>
                <div>
                    Secure service to service communication with cryptographic identities
                </div>
            </div>
            <div class="item">
                <div class="img-container-sm">
                    <img src="" alt="">
                </div>
                <div>
                    Secure service to service communication with cryptographic identities
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>Integrations</h2>
        <div class="flex">
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
            <div class="img-container-sm">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <section>
        <h2>Featured Resource</h2>
        <div class="flex">
            <div class="text-container">
                <p>Spiffe and SPIRE provide strongly attested, cryptographic identities to workloads across a wide variety of platforms</p>
            </div>
            <div class="img-container-md">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <section>
        <h2>Deep Dive</h2>
        <div class="flex">
            <div class="img-container-md">
                <img src="" alt="">
            </div>
            <div class="text-container">
                SPIFFE, the Secure Production Identity Framework For Everyone (SPIFFE) Project defines a framework and set of standards for identifying and securing communications between application services.
            </div>
        </div>
        <div class="flex">
            <div class="img-container-md">
                <img src="" alt="">
            </div>
            <div class="text-container">
                SPIRE (the SPIFFE Runtime Environment) is a toolchain of APIs for establishing trust between software systems across a wide variety of hosting platforms.
            </div>
        </div>
        <button>LEARN</button>
    </section>
    <section>
        <h2>Benefits</h2>
        <div class="flex">
            <div class="img-container-md">
                <img src="" alt="">
            </div>
            <div class="section">
                <div class="flex">
                    <div class="img-container-sm">
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <h4>Enable defense in depth</h4>
                        <p>Provide strongly attested identities to reduce the likelihood of breach through credential comprise</p>
                    </div>
                </div>
                <div class="flex">
                    <div class="img-container-sm">
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <h4>Enable defense in depth</h4>
                        <p>Provide strongly attested identities to reduce the likelihood of breach through credential comprise</p>
                    </div>
                </div>
                <div class="flex">
                    <div class="img-container-sm">
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <h4>Enable defense in depth</h4>
                        <p>Provide strongly attested identities to reduce the likelihood of breach through credential comprise</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex">
            <button>Get started</button>
            <button>Download</button>
        </div>
    </section>
    <div class="banner">
        <h5>SPIFFE and SPIRE are graduate projects of the Cloud Native Computing Foundation</h5>
        <div class="img-container-md">
            <img src="" alt="">
        </div>
    </div>
</body>
</html>