<section class="section">
    <h2 class="title has-text-centered">Benefits</h2>
    <div class="is-flex width-lg is-columns-centered gap-md">
        <div class="img-long is-hidden-mobile">
            <img src="/img/benefits/spiffe_benefits.svg" alt="">
        </div>
        <div class="fullwidth">
            <div class="is-flex margin-md-top-bottom is-align-items-center gap-sm">
                <div class="img-container-xsm">
                    <img src="/img/benefits/defense_icon.png" alt="">
                </div>
                <div class="content">
                    <h4 class="title is-5">Enable defense in depth</h4>
                    <p>Provide strongly attested identities to reduce the likelihood of breach through credential comprise</p>
                </div>
            </div>
            <div class="is-flex margin-md-top-bottom is-align-items-center gap-sm">
                <div class="img-container-xsm">
                    <img src="/img/benefits/operation_complexity.png" alt="">
                </div>
                <div class="content">
                    <h4 class="title is-5">Reduce operational complexity</h4>
                    <p>Consistent, automated management of identity reduces the burden of devops teams</p>
                </div>
            </div>
            <div class="is-flex margin-md-top-bottom is-align-items-center gap-sm">
                <div class="img-container-xsm">
                    <img src="/img/benefits/interoperability.png" alt="">
                </div>
                <div class="content">
                    <h4 class="title is-5">Interoperability</h4>
                    <p>Simplifies the technical aspects of full interoperability across multiple stacks</p>
                </div>
            </div>
            <div class="is-flex margin-md-top-bottom is-align-items-center gap-sm">
                <div class="img-container-xsm">
                    <img src="/img/benefits/compliance.png" alt="">
                </div>
                <div class="content">
                    <h4 class="title is-5">Compliance and auditability</h4>
                    <p>Enables mutually authenticated TLS and multiple roots of trust to meet regulatory requirements</p>
                </div>
            </div>
        </div>
    </div>
    <div class="has-text-centered margin-md-top-bottom">
        <a href="/spiffe">
            <button class="button is-medium is-dark">Get started</button>
          </a>
          <a href="/downloads">
            <button class="button is-medium is-dark">Download</button>
          </a>
    </div>
</section>