<section class="newsbar is-medium is-light">
  <div class="has-text-centered">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <p class="is-size-5 is-size-6-mobile">
            In this book, experts on SPIFFE and SPIRE provide a deep understanding of the identity problem and how to
            solve it. &#8226; <strong><a href="book/">Read more</a></strong>
          </p>
        </div>
        <div class="column stretch">
          <a href="book/">
            <img src="../img/book_cover.png" alt="Book cover" class="book-cover small" />
          </a>
        </div>
      </div>
    </div>
</section>