{{- $title       := .Site.Title }}
{{- $acronym     := .Site.Params.home.acronym | markdownify }}
{{- $description := .Site.Params.home.description | markdownify }}
{{- $spiffeLogo  := "img/logos/spiffe/icon/color/spiffe-icon-color.svg" | relURL }}
{{- $spireLogo   := "img/logos/spire/icon/color/spire-icon-color.svg" | relURL }}
<section class="hero is-medium is-light">
  <div class="hero-body is-flex is-align-items-center p-3 flex-column-mobile-reverse">
    <div class="">
      <div class="text-container">
        <h4 class="title is-2 is-size-4-mobile">Universal identity control plane for distributed systems</h4>
        <p class="subtitle is-5 subtitle-text">Spiffe and SPIRE provide strongly attested, cryptographic identities to workloads across a wide variety of platforms</p>
        <div class="flex">
          <a href="/spiffe">
            <button class="button is-medium is-dark">Get started</button>
          </a>
          <a href="/downloads">
            <button class="button is-medium is-dark">Download</button>
          </a>
        </div>
    </div>
    </div>
    
    <div class="container has-text-centered">
      <img class="title is-hero-logo" src="/img/logos/spiffe/horizontal/color/spiffe-horizontal-color.png">

      <br />

      <p class="project-title is-size-4 is-size-4-mobile has-text-weight-bold">
        Secure Production Identity Framework for Everyone
      </p>
      <!-- <p class="subtitle is-size-3 is-size-5-mobile has-text-weight-light">
        {{ $description }}
      </p> -->
    </div>
<!-- Hidden for now since it is redundant with the top-bar nav
    <div class="buttons is-centered is-logo-button">
      <a class="button is-light" href="/spiffe">
        <span class="icon">
          <img src="{{ $spiffeLogo }}">
        </span>
        <span>
          Learn about SPIFFE and SPIRE
        </span>
      </a>

      <a class="button is-light" href="/spire">
        <span class="icon">
          <img src="{{ $spireLogo }}">
        </span>
        <span>
          Get SPIRE
        </span>
      </a>
    </div>
-->

  </div>
</section>
