{{- $title       := .Site.Title }}
{{- $acronym     := .Site.Params.home.acronym | markdownify }}
{{- $description := .Site.Params.home.description | markdownify }}
{{- $spiffeLogo  := "img/logos/spiffe/icon/color/spiffe-icon-color.svg" | relURL }}
{{- $spireLogo   := "img/logos/spire/icon/color/spire-icon-color.svg" | relURL }}
<section class="hero is-medium is-light">
  <div class="hero-body has-text-centered">
    <div class="container">
      <img class="title is-hero-logo" src="/img/logos/spiffe/horizontal/color/spiffe-horizontal-color.png">

      <br />

      <p class="subtitle is-size-2 is-size-4-mobile has-text-weight-bold">
        Secure Production Identity Framework for Everyone
      </p>
      <p class="subtitle is-size-3 is-size-5-mobile has-text-weight-light">
        {{ $description }}
      </p>

    </div>
  </div>
</section>
