<section class="newsbar is-medium is-light">
    <div class="has-text-centered">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-one-third video-text">
            <p class="is-size-4 is-size-5-mobile">New to SPIFFE and SPIRE? Learn the basics in 10 minutes.</p>
          </div>
          
          <div class="column is-paddingless video-wrapper">
            <br>
            <div class="embed-container">
              <iframe src="https://www.youtube.com/embed/Q2SiGeebRKY" frameborder="0"></iframe>
            </div>
        </div>
      </div>
    </div>
  </section>
