<section class="newsbar slideshow-container is-medium is-light">
  <div class="has-text-centered mySlides fade">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-one-third video-text">
          <p class="is-size-4 is-size-5-mobile">
            New to SPIFFE and SPIRE? Learn the basics in 10 minutes.
          </p>
        </div>

        <div class="column is-paddingless video-wrapper">
          <br />
          <div class="embed-container">
            <iframe
              src="https://www.youtube.com/embed/Q2SiGeebRKY"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="has-text-centered mySlides fade">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <p class="is-size-5 is-size-6-mobile">
            In this book, security experts and SPIFFE community members provide
            a deep understanding of the identity problem and how to solve it.
            &#8226; <strong><a href="book/">Read more</a></strong>
          </p>
        </div>
        <div class="column stretch">
          <a href="book/">
            <img
              src="../img/book_cover.png"
              alt="Book cover"
              class="book-cover small"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Next and previous buttons -->
  <div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</section>
