<section class="section has-text-centered use-cases">
  <h2 class="title">Key Use cases</h2>
  <div class="container margin-md-top-bottom-mobile">
    <div class="columns is-variable is-6">
      <div class="column content is-medium fullwidth-mobile">
        <div class="image">
          <img src="/img/usecases/uc1-secure.svg" />
        </div>
        <p>
          Secure microservices communication automatically with Envoy, X.509
          PKI, or JWT
        </p>
      </div>
      <!-- .column -->

      <div class="column content is-medium fullwidth-mobile">
        <div class="image">
          <img src="/img/usecases/uc2-svcs.svg" />
        </div>
        <p>
          Authenticate securely to common databases or platforms without
          passwords or API keys
        </p>
      </div>

      <div class="column content is-medium fullwidth-mobile">
        <div class="image">
          <img src="/img/usecases/uc3-mesh.svg" />
        </div>
        <p>
          Build, bridge, and extend service mesh across organizations without
          sharing keys
        </p>
      </div>
    </div>
  </div>

  <div class="container width-md fullwidth-mobile">
    <div class="columns is-variable is-6">
      <div class="column content is-medium fullwidth-mobile">
        <div class="image">
          <img src="/img/usecases/cross_service_auth.svg" />
        </div>
        <p>
          Cross-service authentication for zero trust security model
        </p>
      </div>
      <!-- .column -->

      <div class="column content is-medium fullwidth-mobile">
        <div class="image">
          <img src="/img/usecases/k8s_bridge.svg" />
        </div>
        <p>
          Bridging the gap between Kubernetes and other platforms
        </p>
      </div>
    </div>
  </div>
</section>
