<section class="section has-text-centered use-cases">
  <div class="container">

    <div class="columns is-variable is-6">
      <div class="column content is-medium">
        <p class="image">
            <a href="#">
              <img src="/img/usecases/uc1-secure.svg">
            </a>
        </p>
        <p>Secure microservices communication automatically with Envoy, X.509 PKI, or JWT</p>
      </div> <!-- .column -->

      <div class="column content is-medium">
        <p class="image">
            <a href="#">
              <img src="/img/usecases/uc2-svcs.svg">
            </a>
        </p>
        <p>Authenticate securely to common databases or platforms without passwords or API keys</p>
      </div>

      <div class="column content is-medium">
        <p class="image">
            <a href="#">
              <img src="/img/usecases/uc3-mesh.svg">
            </a>
        </p>
        <p>Build, bridge, and extend service mesh across organizations without sharing keys</p>
      </div>
    </div>
  </div>
</section>
