{{- $users     := .Site.Data.users }}
{{- $issuers   := $users.issuers }}
{{- $consumers := $users.consumers }}
{{- $adopters := $users.adopters }}
<section class="section has-text-centered">
        <h2 class="title is-size-2 is-size-3-mobile is-spaced">
          Used By
        </h2>
        <div class="is-flex is-space-between flex-column-mobile margin-md-top-bottom-mobile">
            {{- range $adopters }}
            {{ partial "user.html" . }}
            {{- end }}
        </div>
</section> <!-- .section -->
