{{- $users     := .Site.Data.users }}
{{- $adopters := $users.adopters }}
<section class="section has-text-centered">
        <h2 class="title is-size-3-mobile is-spaced">
          Used By
        </h2>
        <div id="infinite" class="image-slider">
          <div class="container image-barrier">
            <div class="grid margin-md-top-bottom-mobile image-lane">
                {{- range $adopters }}
                {{ partial "user.html" . }}
                {{- end }}

                {{/* This duplicate exist to enable infinite scroll effect */}}
                {{- range $adopters }}
                {{ partial "user.html" . }}
                {{- end }}
            </div>
          </div>
        </div>
</section>
