{{- $whatIsSpiffe := .Site.Params.home.whatis.spiffe | markdownify }}
{{- $whatIsSpire  := .Site.Params.home.whatis.spire  | markdownify }}
<section class="section">
  <h2 class="title has-text-centered">Deep Dive</h2>
  <div class="columns is-flex margin-md-top-bottom is-columns-centered is-align-items-center width-md fullwidth-mobile flex-column-mobile">
      <div class="column">
          <div class="img-container-lg">
              <img src="/img/logos/spiffe/icon/color/spiffe-icon-color.png" alt="spiffe logo">
          </div>
      </div>
      <div class="text-container column content is-medium fullwidth-mobile">
          SPIFFE, the Secure Production Identity Framework For Everyone (SPIFFE) Project defines a framework and set of standards for identifying and securing communications between application services.
      </div>
  </div>
  <div class="columns is-flex margin-md-top-bottom is-columns-centered is-align-items-center width-md fullwidth-mobile flex-column-mobile">
      <div class="column">
          <div class="img-container-lg">
              <img src="/img/logos/spire/icon/color/spire-icon-color.png" alt="Spire logo">
          </div>
      </div>
      <div class="text-container column content is-medium fullwidth-mobile">
          SPIRE (the SPIFFE Runtime Environment) is a toolchain of APIs for establishing trust between software systems across a wide variety of hosting platforms.
      </div>
  </div>
  <div class="has-text-centered">
    <a href="/spiffe">
      <button class="button is-medium btn-wide is-dark margin-md-top-bottom">Learn more</button>
    </a>
  </div>
</section>
