{{- $displayReleases       := ne (getenv "HIDE_RELEASES") "true" }}
{{- $downloadUrl           := "https://github.com/spiffe/spire/releases/download" }}

{{- if $displayReleases }}
<table class="is-downloads-table">
  <thead>
    <tr>
      <th>
        Version
      </th>
      <th>
        Click to copy link to clipboard
      </th>
      <th>
        Click to trigger download
      </th>
    </tr>
  </thead>
  <tbody>
    {{- $releases         := sort site.Data.releases.all "created_at" "desc" }}
    {{- $latestRelease    := site.Data.releases.latest }}
    {{- $latest           := $latestRelease.tag_name }}
    {{- range $releases -}}
    {{- $hasArm           := (index .assets 2).name }}
    {{- $hasWindows       := (index .assets 3).name }}
    {{- $clipboardButtons := .Site.Params.downloads.buttons.clipboard }}
    {{- $downloadButtons  := .Site.Params.downloads.buttons.download }}

    {{- $version      := .tag_name }}
    {{- $versionUrl   := .html_url }}
    {{- $isLatest     := eq $version $latest }}
    {{- $tar          := (index .assets 0).name }}
    {{- $zip          := (index .assets 1).name }}
    {{- $armChecksumUrl := "" -}}
    {{- $armTarUrl      := "" -}}
    {{- if $hasArm }}
      {{- $arm       := (index .assets 2).name }}
      {{- $armChecksum := (index .assets 3).name }}
      {{- $armTarUrl  = printf "%s/%s/%s" $downloadUrl $version $arm }}
      {{- $armChecksumUrl = printf "%s/%s/%s" $downloadUrl $version $armChecksum }}
    {{- end }}
    {{- $windowsChecksumUrl := "" -}}
    {{- $windowsTarUrl      := "" -}}
    {{- if $hasWindows }}
    {{- $windows       := (index .assets 2).name }}
    {{- $windowsChecksum := (index .assets 3).name }}
    {{- $windowsTarUrl  = printf "%s/%s/%s" $downloadUrl $version $windows }}
    {{- $windowsChecksumUrl = printf "%s/%s/%s" $downloadUrl $version $windowsChecksum }}
    {{- end }}
    {{- $binaryTarUrl := printf "%s/%s/%s" $downloadUrl $version $tar }}
    {{- $checksumsUrl := printf "%s/%s/%s" $downloadUrl $version $zip }}
    {{- $sourceZipUrl := printf "https://github.com/spiffe/spire/archive/%s.zip" $version }}
    {{- $sourceTarUrl := printf "https://github.com/spiffe/spire/archive/%s.tar.gz" $version }}
    <tr>
      <td>
        <a class="is-size-3 is-size-4-mobile has-text-weight-bold is-download-version" href="{{ $versionUrl }}">
          {{ $version }}
        </a>
      
        {{- if $isLatest }}
        <span class="tag is-success">
          LATEST
        </span>
        {{- end }}
      </td>

      <td>
        <div class="buttons">
          {{ partial "downloads/download-button.html" (dict "url" $binaryTarUrl "text" "Linux amd64 binaries (.tar.gz)" "isDownloadButton" false "color" "dark") }}
          {{ partial "downloads/download-button.html" (dict "url" $checksumsUrl "text" "Linux amd64 checksum (.txt)" "isDownloadButton" false "color" "dark") }}
          {{- if $hasArm -}}
            {{ partial "downloads/download-button.html" (dict "url" $armTarUrl "text" "Linux Arm (.tar.gz)" "isDownloadButton" false "color" "dark") }}
            {{ partial "downloads/download-button.html" (dict "url" $armChecksumUrl "text" "Linux Arm Checksum (.txt)" "isDownloadButton" false "color" "dark") }}
          {{- end }}
          {{- if $hasWindows -}}
          {{ partial "downloads/download-button.html" (dict "url" $windowsTarUrl "text" "Windows (.tar.gz)" "isDownloadButton" false "color" "dark") }}
          {{ partial "downloads/download-button.html" (dict "url" $windowsChecksumUrl "text" "Windows Checksum (.txt)" "isDownloadButton" false "color" "dark") }}
          {{- end }}
          {{ partial "downloads/download-button.html" (dict "url" $sourceZipUrl "text" "Source (.zip)" "isDownloadButton" false "color" "light") }}
          {{ partial "downloads/download-button.html" (dict "url" $sourceTarUrl "text" "Source (.tar.gz)" "isDownloadButton" false "color" "light") }}
        </div>
      </td>

      <td>
        <div class="buttons">
          {{ partial "downloads/download-button.html" (dict "url" $binaryTarUrl "text" "Linux amd64 binaries (.tar.gz)" "isDownloadButton" true "color" "dark") }}
          {{ partial "downloads/download-button.html" (dict "url" $checksumsUrl "text" "Linux amd64 checksum (.txt)" "isDownloadButton" true "color" "dark") }}
          {{- if $hasArm -}}
            {{ partial "downloads/download-button.html" (dict "url" $armTarUrl "text" "Linux Arm (.tar.gz)" "isDownloadButton" true "color" "dark") }}
            {{ partial "downloads/download-button.html" (dict "url" $armChecksumUrl "text" "Linux Arm Checksum (.txt)" "isDownloadButton" true "color" "dark") }}
          {{- end }}
          {{- if $hasWindows -}}
            {{ partial "downloads/download-button.html" (dict "url" $windowsTarUrl "text" "Windows (.tar.gz)" "isDownloadButton" true "color" "dark") }}
            {{ partial "downloads/download-button.html" (dict "url" $windowsChecksumUrl "text" "Windows Checksum (.txt)" "isDownloadButton" true "color" "dark") }}
          {{- end }}
          {{ partial "downloads/download-button.html" (dict "url" $sourceZipUrl "text" "Source (.zip)" "isDownloadButton" true "color" "light") }}
          {{ partial "downloads/download-button.html" (dict "url" $sourceTarUrl "text" "Source (.tar.gz)" "isDownloadButton" true "color" "light") }}
        </div>
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{- else }}
<blockquote>
  The releases table is not currently displayed because you're running the site in standard development mode. To display the releases table while in development mode, run <code>make serve-with-releases</code> rather than the standard <code>make serve</code>.
</blockquote>
{{- end }}
